.change-password-wrapper {
  width: 100vw;
  height: 100vh;
  background: #fff;
  border-radius: 4.16666667vh;
  overflow: hidden;
}
.change-password-wrapper .changer-psd-content {
  width: 83.33333333vw;
  margin: 0 auto;
}
.change-password-wrapper .changer-psd-content .oldPassword {
  margin-top: 6.94444444vh;
}
.change-password-wrapper .changer-psd-content .pwd-common {
  width: 83.33333333vw;
  height: 13.88888889vh;
  line-height: 13.88888889vh;
  text-align: center;
  display: block;
  font-size: 6.2962963vw;
  font-family: "HiraginoSansGB";
  color: #424242;
}
.change-password-wrapper .changer-psd-content .input-pwd-old,
.change-password-wrapper .changer-psd-content .input-pwd-new {
  width: 83.33333333vw;
  height: 11.80555556vh;
  display: block;
  outline: none;
  border: 2px solid #ccc;
  background: #fff;
  border-radius: 6.52777778vh;
  text-align: center;
  font-size: 6.2962963vw;
  font-family: "HiraginoSansGB";
  color: #424242;
}
.change-password-wrapper .changer-psd-content .input-pwd-old:focus,
.change-password-wrapper .changer-psd-content .input-pwd-old:active,
.change-password-wrapper .changer-psd-content .input-pwd-old:hover,
.change-password-wrapper .changer-psd-content .input-pwd-new:focus,
.change-password-wrapper .changer-psd-content .input-pwd-new:active,
.change-password-wrapper .changer-psd-content .input-pwd-new:hover {
  border: 0.37037037vw solid #d1b683;
}
.change-password-wrapper .changer-psd-content .button-pwd-sure {
  width: 82.96296296vw;
  display: block;
  outline: none;
  height: 11.80555556vh;
  border-radius: 6.52777778vh;
  margin-top: 8.33333333vh;
  color: #fff;
  background: #c1c1c1;
  font-weight: 700;
  font-size: 6.2962963vw;
  font-family: "HiraginoSansGB";
}
.change-password-wrapper .changer-psd-content .button-pwd-sure:focus,
.change-password-wrapper .changer-psd-content .button-pwd-sure:active,
.change-password-wrapper .changer-psd-content .button-pwd-sure:hover {
  background: #cdb17b;
}
