<div class="setting-warpper">
    <div class="setting-top setting-common">
        <a href="javascript:;" class="my-purchars setting-common1" ng-click="actions.buy()" set-focus ng-keydown="bindingKeydownleft($event)"><i class="pucharseIcon"></i>帮助信息</a>
        <a href="javascript:;" class="change-password setting-common1" ng-click="actions.changePassword()" ng-keydown="bindingKeydownright($event)"><i class="passwordIcon"></i>修改密码</a>
    </div>
    <div class="setting-bottom setting-common">
        <a href="javascript:;" class="contact setting-common1" ng-click="actions.callService()" ng-keydown="bindingKeydownleft($event)"><i class="serviceIcon"></i>联系客服</a>
        <a href="javascript:;" class="about-us setting-common1 " ng-click="actions.aboutUs()" ng-keydown="bindingKeydownright($event)"><i class="aboutIcon"></i>关于我们</a>
    </div>
</div>

<!--<script type="text/ng-template" show="showBindingAlert" id="setting-call-service.html">-->
    <!--<div class="call-service-warpper">-->
        <!--<div class="call-service-warp">-->
            <!--<div class="code">-->
                    <!--<button class="pwd-cancel" ng-click="actions.cancel()">视频通话</button>-->
                    <!--<button class="pwd-confirm" ng-click="actions.binding()" set-focus>语音通话</button>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</script>-->